html {
    height: 100%
}

body {
    padding: 0;
    margin: 4%;
    font-family: verdana, arial, sans-serif;
    font-size: 30px;
    height: 92%;
}

div#console {
    margin: 0;
    height: 94%;
}

div#view {
}

div#controls {
    margin: 0;
    height: 6%;
}

div#prev {
    float: left;
}

div#next {
    float: right;
}

div#clock {
    margin-left: 2em;
    text-align: center;
    float: left;
}

div#timer {
    margin-right: 2em;
    text-align: center;
    float: right;
}